*{
    background-image: url(./OIP-1785054113.jpg);
    background-repeat: no-repeat;
 background-size: cover;

}
h2{
    background-color: green;
    color:yellow;
}
#hello3{
    color: orange;
    background-color: red;
}

.hello{
    color: red;
    background-color: yellow;
}

h2,#hello3,.hello{
    font-size: 30px;
    background-color: green;
}



/* 
external css
internal css
inline css


inline css
internal css
external css
 */